node-red.json
[
    {
        "id": "fbb4856d0f0522f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc352ef8a7a636a2",
        "type": "ui_chart",
        "z": "fbb4856d0f0522f1",
        "name": "Temperature",
        "group": "1be0994cb3c910dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "pending...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "temp_chart",
        "x": 650,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e99957ce29311102",
        "type": "mqtt in",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "topic": "/comcs/g04/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "32110ace10cad82a"
            ]
        ]
    },
    {
        "id": "28f09a88f37861d4",
        "type": "ui_chart",
        "z": "fbb4856d0f0522f1",
        "name": "Humidity",
        "group": "490c6cbaed5a4617",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "pending...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "32110ace10cad82a",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "Parse JSON",
        "func": "var tempMsg = { payload: msg.payload.temperature };\nvar humMsg = { payload: msg.payload.relativeHumidity };\nreturn [tempMsg, humMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "cc352ef8a7a636a2",
                "bd8a976c576979b3"
            ],
            [
                "28f09a88f37861d4",
                "6ee673e7c1fc2cb9"
            ]
        ]
    },
    {
        "id": "bd8a976c576979b3",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "Average Temperature",
        "func": "let sumTemp = context.get(\"sumTemp\") || 0;\nlet countTemp = context.get(\"countTemp\") || 0;\n\n// Current temperature from input\nlet temp = msg.payload;\n\n// Update sum and count\nsumTemp += temp;\ncountTemp += 1;\n\n// Compute average\nlet avgTemp = sumTemp / countTemp;\n\n// Save updated sums/count in context\ncontext.set(\"sumTemp\", sumTemp);\ncontext.set(\"countTemp\", countTemp);\n\n// Wrap the result in msg.payload\nmsg = { payload: parseFloat(avgTemp.toFixed(2)) };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "41dafd6e9b887412"
            ]
        ]
    },
    {
        "id": "6ee673e7c1fc2cb9",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "Average Humidity",
        "func": "let sumTemp = context.get(\"sumTemp\") || 0;\nlet countTemp = context.get(\"countTemp\") || 0;\n\n// Current temperature from input\nlet temp = msg.payload;\n\n// Update sum and count\nsumTemp += temp;\ncountTemp += 1;\n\n// Compute average\nlet avgTemp = sumTemp / countTemp;\n\n// Save updated sums/count in context\ncontext.set(\"sumTemp\", sumTemp);\ncontext.set(\"countTemp\", countTemp);\n\n// Wrap the result in msg.payload\nmsg = { payload: parseFloat(avgTemp.toFixed(2)) };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "1657a145575cd968"
            ]
        ]
    },
    {
        "id": "41dafd6e9b887412",
        "type": "ui_gauge",
        "z": "fbb4856d0f0522f1",
        "name": "Average Temperature",
        "group": "1be0994cb3c910dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "1657a145575cd968",
        "type": "ui_gauge",
        "z": "fbb4856d0f0522f1",
        "name": "Average Humidity",
        "group": "490c6cbaed5a4617",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "c47f0efb5c92a4ca",
        "type": "mqtt in",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "topic": "/comcs/g04/alerts",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "782007aced6f40d5",
                "1beb81a7d8a4e076",
                "3627ccb86a53e88d"
            ]
        ]
    },
    {
        "id": "df902a9a4246b2f1",
        "type": "status",
        "z": "fbb4856d0f0522f1",
        "name": "Detect Disconnect",
        "scope": [
            "e99957ce29311102"
        ],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "26838dff6c636435",
                "d822f0dcf5889432"
            ]
        ]
    },
    {
        "id": "26838dff6c636435",
        "type": "debug",
        "z": "fbb4856d0f0522f1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "d822f0dcf5889432",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "function 1",
        "func": "if (msg.status && msg.status.text === \"node-red:common.status.disconnected\") {\n    msg.payload = \"⚠ MQTT client disconnected!\";\n    return msg;\n\n} else {\n    // Ignore other statuses\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "47f521b36954d6fd"
            ]
        ]
    },
    {
        "id": "47f521b36954d6fd",
        "type": "ui_toast",
        "z": "fbb4856d0f0522f1",
        "position": "bottom right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "782007aced6f40d5",
        "type": "debug",
        "z": "fbb4856d0f0522f1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "724d871d8bd1ddb5",
        "type": "ui_toast",
        "z": "fbb4856d0f0522f1",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "ALERT",
        "name": "alert",
        "x": 550,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1beb81a7d8a4e076",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "Top 5 Recent Alerts",
        "func": "if (msg.payload === \"clearAlerts\") {\n    flow.set('recentAlerts', []);\n    msg.payload = [];\n    return msg;\n}\n\nlet alerts = flow.get('recentAlerts') || [];\n\nalerts.unshift(msg.payload);\n\n// keep last 10\nalerts = alerts.slice(0, 10);\n\nflow.set('recentAlerts', alerts);\n\nmsg.payload = alerts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 760,
        "wires": [
            [
                "c82651bbaeb32f2d"
            ]
        ]
    },
    {
        "id": "c82651bbaeb32f2d",
        "type": "ui_template",
        "z": "fbb4856d0f0522f1",
        "group": "79cc9cc2a3d47206",
        "name": "",
        "order": 3,
        "width": "10",
        "height": "11",
        "format": "<div class=\"alert-container\">\n    <ul class=\"alert-list\">\n        <li class=\"alert-item\" ng-repeat=\"alert in msg.payload track by $index\">\n            <span class=\"alert-index\">#{{$index + 1}}</span>\n\n            <div class=\"alert-content\">\n                <div class=\"alert-title\">\n                    <b>{{alert.device}}</b> | <span>{{alert.alertType}}</span>\n                </div>\n                <div class=\"alert-message\">\n                    {{alert.message}}\n                </div>\n            </div>\n        </li>\n    </ul>\n</div>\n\n<style>\n    .alert-container {\n        max-height: 600px;\n        overflow-y: auto;\n        padding: 10px;\n        background: #333333;\n        border-radius: 8px;\n        border: 1px solid #333333;\n        font-family: Arial, sans-serif;\n    }\n\n    .alert-list {\n        margin: 0;\n        padding: 0;\n        list-style: none;\n    }\n\n    .alert-item {\n        background: #ffffff;\n        margin-bottom: 8px;\n        padding: 10px;\n        border-radius: 6px;\n        border-left: 5px solid #6db046;\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n        display: flex;\n        align-items: flex-start;\n        gap: 12px;\n    }\n\n    .alert-index {\n        font-weight: bold;\n        color: #555;\n    }\n\n    .alert-content {\n        flex: 1;\n    }\n\n    .alert-title {\n        font-size: 14px;\n        margin-bottom: 4px;\n        color: #222;\n    }\n\n    .alert-message {\n        color: #333;\n        font-size: 13px;\n        white-space: normal;\n        word-break: break-word;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe346f31e0b821b",
        "type": "ui_button",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "group": "79cc9cc2a3d47206",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Alerts",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clearAlerts",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "1beb81a7d8a4e076"
            ]
        ]
    },
    {
        "id": "3627ccb86a53e88d",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "function 2",
        "func": "let p = msg.payload;\n\nmsg.payload =\n    `<b>Device:</b> ${p.device}<br>\n<b>Type:</b> ${p.alertType}<br>\n<b>Message:</b> ${p.message}`;\n\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "724d871d8bd1ddb5"
            ]
        ]
    },
    {
        "id": "1be0994cb3c910dc",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "03ecc5f32a498d6c",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f2d9564175f3903",
        "type": "mqtt-broker",
        "name": "eu.hivemq.cloud",
        "broker": "4979254f05ea480283d67c6f0d9f7525.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "c80603c327360862",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "490c6cbaed5a4617",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "03ecc5f32a498d6c",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79cc9cc2a3d47206",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "7773c87f06bd908b",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03ecc5f32a498d6c",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "device_hub",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c80603c327360862",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "7773c87f06bd908b",
        "type": "ui_tab",
        "name": "Alerts",
        "icon": "warning",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]