node-red.json
[
    {
        "id": "a6172c7e4dac59d9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc85a9190c3d3e57",
        "type": "ui_chart",
        "z": "a6172c7e4dac59d9",
        "name": "Temperature",
        "group": "1be0994cb3c910dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature (ºC)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "pending...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "temp_chart",
        "x": 690,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0700663bc3f35628",
        "type": "mqtt in",
        "z": "a6172c7e4dac59d9",
        "name": "",
        "topic": "/comcs/g04/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "803455e33daad870",
                "2b33b4f27043420a"
            ]
        ]
    },
    {
        "id": "1a855e2f20f1ea2a",
        "type": "ui_chart",
        "z": "a6172c7e4dac59d9",
        "name": "Humidity",
        "group": "490c6cbaed5a4617",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "pending...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "803455e33daad870",
        "type": "function",
        "z": "a6172c7e4dac59d9",
        "name": "Parse JSON",
        "func": "let device = msg.payload.id;  // \"ESP32\" or \"PICO\"\nlet temp = msg.payload.temperature;\nlet hum = msg.payload.relativeHumidity;\n\n// Create messages with device info as topic\nlet tempMsg = { payload: temp, topic: device };\nlet humMsg = { payload: hum, topic: device };\n\n// Send to the two outputs\nreturn [tempMsg, humMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "6d08882f706e2a36",
                "bc85a9190c3d3e57"
            ],
            [
                "5a3a033e432856a3",
                "1a855e2f20f1ea2a"
            ]
        ]
    },
    {
        "id": "6d08882f706e2a36",
        "type": "function",
        "z": "a6172c7e4dac59d9",
        "name": "Average Temperature",
        "func": "let sumTemp = context.get(\"sumTemp\") || 0;\nlet countTemp = context.get(\"countTemp\") || 0;\n\n// Current temperature from input\nlet temp = msg.payload;\n\n// Update sum and count\nsumTemp += temp;\ncountTemp += 1;\n\n// Compute average\nlet avgTemp = sumTemp / countTemp;\n\n// Save updated sums/count in context\ncontext.set(\"sumTemp\", sumTemp);\ncontext.set(\"countTemp\", countTemp);\n\n// Wrap the result in msg.payload\nmsg = { payload: parseFloat(avgTemp.toFixed(2)) };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 440,
        "wires": [
            [
                "1f9eb0191c1529a8"
            ]
        ]
    },
    {
        "id": "5a3a033e432856a3",
        "type": "function",
        "z": "a6172c7e4dac59d9",
        "name": "Average Humidity",
        "func": "let sumTemp = context.get(\"sumTemp\") || 0;\nlet countTemp = context.get(\"countTemp\") || 0;\n\n// Current temperature from input\nlet temp = msg.payload;\n\n// Update sum and count\nsumTemp += temp;\ncountTemp += 1;\n\n// Compute average\nlet avgTemp = sumTemp / countTemp;\n\n// Save updated sums/count in context\ncontext.set(\"sumTemp\", sumTemp);\ncontext.set(\"countTemp\", countTemp);\n\n// Wrap the result in msg.payload\nmsg = { payload: parseFloat(avgTemp.toFixed(2)) };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 500,
        "wires": [
            [
                "fc3c30392d26f8c3"
            ]
        ]
    },
    {
        "id": "1f9eb0191c1529a8",
        "type": "ui_gauge",
        "z": "a6172c7e4dac59d9",
        "name": "Average Temperature",
        "group": "1be0994cb3c910dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "fc3c30392d26f8c3",
        "type": "ui_gauge",
        "z": "a6172c7e4dac59d9",
        "name": "Average Humidity",
        "group": "490c6cbaed5a4617",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "d686cd2311d714af",
        "type": "mqtt in",
        "z": "a6172c7e4dac59d9",
        "name": "",
        "topic": "/comcs/g04/alerts",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "c327973f70a53258",
                "4598736d100917b0",
                "d7f8a35a27c4ce1b"
            ]
        ]
    },
    {
        "id": "c327973f70a53258",
        "type": "debug",
        "z": "a6172c7e4dac59d9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "ac4d1db54ef1d36a",
        "type": "ui_toast",
        "z": "a6172c7e4dac59d9",
        "position": "bottom right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "ALERT",
        "name": "alert",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "4598736d100917b0",
        "type": "function",
        "z": "a6172c7e4dac59d9",
        "name": "Top 5 Recent Alerts",
        "func": "if (msg.payload === \"clearAlerts\") {\n    flow.set('recentAlerts', []);\n    msg.payload = [];\n    return msg;\n}\n\nlet alerts = flow.get('recentAlerts') || [];\n\nalerts.unshift(msg.payload);\n\n// keep last 10\nalerts = alerts.slice(0, 10);\n\nflow.set('recentAlerts', alerts);\n\nmsg.payload = alerts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 760,
        "wires": [
            [
                "18dee70144883a68"
            ]
        ]
    },
    {
        "id": "18dee70144883a68",
        "type": "ui_template",
        "z": "a6172c7e4dac59d9",
        "group": "79cc9cc2a3d47206",
        "name": "",
        "order": 3,
        "width": "11",
        "height": "12",
        "format": "<div class=\"alert-container\">\n    <ul class=\"alert-list\">\n        <li class=\"alert-item\" ng-repeat=\"alert in msg.payload track by $index\">\n            <span class=\"alert-index\">#{{$index + 1}}</span>\n\n            <div class=\"alert-content\">\n                <div class=\"alert-title\">\n                    <b>{{alert.device}}</b> | <span>{{alert.alertType}}</span>\n                </div>\n                <div class=\"alert-message\">\n                    {{alert.message}}\n                </div>\n            </div>\n        </li>\n    </ul>\n</div>\n\n<style>\n    .alert-container {\n        max-height: 600px;\n        overflow-y: auto;\n        padding: 10px;\n        background: #333333;\n        border-radius: 8px;\n        border: 1px solid #333333;\n        font-family: Arial, sans-serif;\n    }\n\n    .alert-list {\n        margin: 0;\n        padding: 0;\n        list-style: none;\n    }\n\n    .alert-item {\n        background: #ffffff;\n        margin-bottom: 8px;\n        padding: 10px;\n        border-radius: 6px;\n        border-left: 5px solid #6db046;\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n        display: flex;\n        align-items: flex-start;\n        gap: 12px;\n    }\n\n    .alert-index {\n        font-weight: bold;\n        color: #555;\n    }\n\n    .alert-content {\n        flex: 1;\n    }\n\n    .alert-title {\n        font-size: 14px;\n        margin-bottom: 4px;\n        color: #222;\n    }\n\n    .alert-message {\n        color: #333;\n        font-size: 13px;\n        white-space: normal;\n        word-break: break-word;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7c8ee10f35bb8d59",
        "type": "ui_button",
        "z": "a6172c7e4dac59d9",
        "name": "",
        "group": "79cc9cc2a3d47206",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Alerts",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clearAlerts",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "4598736d100917b0"
            ]
        ]
    },
    {
        "id": "d7f8a35a27c4ce1b",
        "type": "function",
        "z": "a6172c7e4dac59d9",
        "name": "function 2",
        "func": "let p = msg.payload;\n\nmsg.payload =\n    `<b>Device:</b> ${p.device}<br>\n<b>Type:</b> ${p.alertType}<br>\n<b>Message:</b> ${p.message}`;\n\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "ac4d1db54ef1d36a"
            ]
        ]
    },
    {
        "id": "2b33b4f27043420a",
        "type": "debug",
        "z": "a6172c7e4dac59d9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 220,
        "wires": []
    },
    {
        "id": "1be0994cb3c910dc",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "03ecc5f32a498d6c",
        "order": 2,
        "disp": false,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f2d9564175f3903",
        "type": "mqtt-broker",
        "name": "eu.hivemq.cloud",
        "broker": "4979254f05ea480283d67c6f0d9f7525.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "c80603c327360862",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "490c6cbaed5a4617",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "03ecc5f32a498d6c",
        "order": 2,
        "disp": false,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79cc9cc2a3d47206",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "7773c87f06bd908b",
        "order": 3,
        "disp": false,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03ecc5f32a498d6c",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "device_hub",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c80603c327360862",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "7773c87f06bd908b",
        "type": "ui_tab",
        "name": "Alerts",
        "icon": "warning",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]